*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.homepage{
   background-color: #f1faee; /*rgb(237, 241, 252);*/
   width: 100vw;
   height: 100vh;
   color: #023e8a;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center; */
}

.navbar{
    height: 6.8vh;
    background-color: #a8dadc; /*rgba(193, 215, 245, 0.53); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #283618;
    font-weight: 900;
    font-size: 1.3rem;
}

.home{
    cursor: pointer;
}

.home i{
    color: rgb(0, 0, 0);
}

.about{
    cursor: pointer;
}

.experience{
    cursor: pointer;
}

.info-section{
    height: 81.2vh;
    margin: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.greeting{
    color: #023e8a;
    font-size: 1rem;
    font-family: Georgia, serif;
}

.intro-1{
    font-size: 1.7rem;
    font-weight: bold;
}

.intro-2{
    font-size: 1rem;
    color: #ff5400;
}

.intro-3{
    font-family: Georgia, serif;
}

.selfie{
    margin: 2.3rem 4.5rem 3rem 0;
    height: 250px;
    width: 250px;
    border: 1px solid rgb(237, 241, 252);
    border-radius: 50%;
    background-image: url("Sahil.jpeg");
    background-size: cover;
}

.footer{
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 3vh 0;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-size: 2rem;
    color: #1d3557;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popuptext {
    visibility: hidden;
    width: 150px;
    background-color: rgb(69, 148, 183);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the popup */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup:hover .popuptext {
    visibility: visible;
    opacity: 1;
}

.github{
    cursor: pointer;
}

.twitter{
    cursor: pointer;
}

.instagram{
    cursor: pointer;
}

.facebook{
    cursor: pointer;
}

.social-links p{
    color: #0096c7;
    font-size: 1rem;
    margin: 0.58rem 0 0 0;
}

.contact{
    display: flex;
    flex-direction: row;
    color: #1d3557;
    text-decoration: none;
    font-size: 1.1rem;
    gap: 0.5rem;
    margin: 1rem 0 0 0;
}

.contact p{
    color: #0096c7;
    font-size: 1rem;
}

.email{
    cursor: pointer;
}

/* About section :- */

.sup-about-intro{
    height: 81.2vh;
    display: flex;
    flex-direction: column;
    margin: 0 10vw 0 10vw;
    color: #0a2ab3;
}

.sup-about-intro h2{
    color: #ff5400;
}

.about-intro{
    color: #0a2ab3;
    margin: 2.5rem 0 0 0;
}

.background-education{
    margin: 2.5rem 0 0 0;
}

.personal-interests{
    margin: 2.5rem 0 0 0;
}

/* Experience section */

.my-exp{
    height: 81.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw 0 10vw;
    color: #ff2a6a;
}

.work-exp{
    margin: 2.5rem 0 0 0;
    font-size: 1.2rem;
}

.my-projects{
    margin: 3rem 0 0 0;
    color: #ff5d8f;
}

.my-projects span{
    color: #7b2cbf;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
}

.my-projects p{
    color: #7b2cbf;
}

.my-projects ul{
    cursor: pointer;
    font-weight: 900;
}

.Hover:hover{
    color: #0096c7;
}